
@media only screen and (max-width: 1920px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 22%;
    }
    .page	{
    	padding-left: 80px;
      padding-right: 80px;
    }
    #player {
    			/* For desktop: */
    	width: 320px;
    	height: 180px;
    }
    .stats {
    	width: 310px;
    	height: 440px;
      float: left;
    }


@media only screen and (max-width: 1650px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 30%;
    }
    .page	{
    	padding-left: 50px;
      padding-right: 50px;
    }


@media only screen and (max-width: 1200px) {
		    /* For mobile phones: */
		    [class*="col-"] {
		        width: 45%;
		    }
        .page	{
        	padding-left: 30px;
          padding-right: 30px;
        }


@media only screen and (max-width: 750px) {
				/* For mobile phones: */
				[class*="col-"] {
						width: 100%;
			  }
        #player {
              /* For desktop: */
              width: 92vw;
            	height: 51.75vw;
        }
        .page	{
        	padding-left: 7px;
          padding-right: 7px;
        }

        }
